<!DOCTYPE html>
<html>
    <head>
        <title>Acme|
            {% block title %}Dashboard{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset('admin/css/vendor.css')}}"/>
        <link rel="stylesheet" href="{{asset('admin/css/dataTables.bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/lightgallery.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/summernote.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/fileinput.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/select2.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/animate.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/noty.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/metroui.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/mint.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/material.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/bootstrapValidator.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/bootstrap-select.min.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/chl.css')}}">
        <link rel="stylesheet" href="{{asset('admin/css/theme-peter-river.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
            .btn-spacing {
                margin-right: 5px;
                margin-bottom: 5px !important;
            }
            .form-control-feedback {
                right: 30px !important;
            }

        </style>

        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <!-- begin .app -->
        <div class="app">
            <!-- begin .app-wrap -->
            <div class="app-wrap">
                <!-- begin .app-heading -->
                <header class="app-heading">
                    <!-- begin .navbar -->
                    <nav class="navbar navbar-default navbar-static-top shadow-2dp">
                        <!-- begin .navbar-header -->
                        <div class="navbar-header">
                            <!-- begin .navbar-header-left with image -->
                            <div class="navbar-header-left b-r">
                                <!--begin logo-->
                                <a class="logo" href="#">
                                    <span class="logo-xs visible-xs">
                                        <img src="{{asset('admin/img/logo_xs.svg')}}" alt="logo-xs">
                                    </span>
                                    <span class="logo-lg hidden-xs">
                                        <img src="{{asset('admin/img/logo_lg.svg')}}" alt="logo-lg">
                                    </span>
                                </a>
                                <!--end logo-->
                            </div>
                            <!-- END: .navbar-header-left with image -->
                            <nav class="nav navbar-header-nav">

                                <a class="visible-xs b-r" href="#" data-side="collapse">
                                    <i class="fa fa-fw fa-bars"></i>
                                </a>

                                <a class="hidden-xs b-r" href="#" data-side="mini">
                                    <i class="fa fa-fw fa-bars"></i>
                                </a>
                            </nav>

                            <ul class="nav navbar-header-nav m-l-a">
                                <li class="dropdown b-l">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                        <span class="b-wisteria fa fa-fw fa-envelope-o u-posRelative"></span>

                                        <span class="label label-primary b-orange">8
                                            <span class="waves"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="dropdown b-l">
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-fw fa-sign-out"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END: .navbar-header -->
                    </nav>
                    <!-- END: .navbar -->
                </header>
                <!-- END: .app-heading -->

                <!-- begin .app-container -->
                <div class="app-container">

                    <!-- begin .app-side -->
                    <aside class="app-side">
                        <!-- begin .side-content -->
                        <div class="side-content">
                            <!-- begin .side-nav -->
                            <nav class="side-nav">
                                <!-- BEGIN: nav-content -->
                                <ul class="metismenu nav nav-inverse nav-bordered nav-stacked" data-plugin="metismenu">
                                    <li>
                                        <a class="" href="#">
                                            <span class="nav-icon">
                                                <i class="fa fa-fw fa-cogs"></i>
                                            </span>
                                            <span class="nav-title">Tableau de bord</span>
                                        </a>
                                    </li>
                                    <li class="nav-divider"></li>
                                    {# <li class="nav-header">MENU</li> #}
                                    <li class="{{side_home.home ? 'active'}}">
                                        <a href="javascript:;">
                                            <span class="nav-icon">
                                                <i class="fa fa-fw fa-home"></i>
                                            </span>
                                            <span class="nav-title">Accueil</span>
                                            <span class="nav-tools">
                                                <i class="fa fa-fw arrow"></i>
                                            </span>
                                        </a>
                                        <ul class="nav nav-sub nav-stacked">
                                            <li>
                                                <a class="{{side_home.slide ? 'active'}}" href="{{path('slide_index')}}">Slide</a>
                                            </li>
                                            <li>
                                                <a href="{{path('post_index')}}">Post</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-icon">
                                                <i class="fa fa-fw fa-pagelines"></i>
                                            </span>
                                            <span class="nav-title">App</span>
                                            <span class="nav-tools">
                                                <i class="fa fa-fw arrow"></i>
                                            </span>
                                        </a>
                                        <ul class="nav nav-sub nav-stacked">
                                            <li>
                                                <a href="{{path('post_index')}}">Article</a>
                                            </li>

                                            <!-- BEGIN: mail -->
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="nav-icon">
                                                        <i class="fa fa-fw fa-envelope-o"></i>
                                                    </span>
                                                    <span class="nav-title">Mail</span>
                                                    <span class="nav-tools">
                                                        <i class="fa fa-fw arrow"></i>
                                                    </span>
                                                </a>
                                                <ul class="nav nav-sub nav-stacked">
                                                    <li>
                                                        <a href="app-mail-inbox.html">Inbox</a>
                                                    </li>
                                                    <li>
                                                        <a href="app-mail-compose.html">Compose</a>
                                                    </li>
                                                    <li>
                                                        <a href="app-mail-read.html">Read</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- END: mail -->
                                        </ul>
                                    </li>
                                </ul>
                                <!-- END: nav-content -->
                            </nav>
                            <!-- END: .side-nav -->
                        </div>
                        <!-- END: .side-content -->
                    </aside>
                    <!-- END: .app-side -->

                    <!-- begin .app-main -->
                    <div class="app-main">

                        <!-- begin .main-content -->
                        <div class="main-content bg-clouds">

                            <!-- begin .container-fluid -->
                            <div class="container-fluid p-t-15">
                                {% block body %}{% endblock %}
                            </div>
                            <!-- END: .container-fluid -->

                        </div>
                        <!-- END: .main-content -->

                        <!-- begin .main-footer -->
                        {# <footer class="main-footer bg-white p-a-5">
                            main footerlllll
                        </footer> #}
                        <!-- END: .main-footer -->

                    </div>
                    <!-- END: .app-main -->
                </div>
                <!-- END: .app-container -->

                <!-- begin .app-footer -->
                <footer class="app-footer p-t-10 text-white">
                    <div class="container-fluid">
                        <p class="text-center small">
                            Copyright chl v0.1.1 &copy; 2017
                        </p>
                    </div>
                </footer>
                <!-- END: .app-footer -->

            </div>
            <!-- END: .app-wrap -->
        </div>
        <!-- END: .app -->

        <span class="fa fa-angle-up" id="totop" data-plugin="totop"></span>

        <script src="{{asset('admin/js/vendor.js')}} "></script>
        <script src="{{asset('admin/js/jquery.dataTables.min.js')}} "></script>
        <script src="{{asset('admin/js/dataTables.bootstrap.min.js')}} "></script>
        <script src="{{asset('admin/js/lightgallery-all.min.js')}} "></script>
        <script src="{{asset('admin/js/summernote.js')}} "></script>
        <script src="{{asset('admin/js/fileinput.min.js')}} "></script>
        <script src="{{asset('admin/js/fr.js')}} "></script>
        <script src="{{asset('admin/js/select2.min.js')}} "></script>
        <script src="{{asset('admin/js/material.min.js')}} "></script>
        <script src="{{asset('admin/js/noty.js')}} "></script>
        <script src="{{asset('admin/js/bootstrapValidator.min.js')}} "></script>
        <script src="{{asset('admin/js/fr_FR.js')}} "></script>
        <script src="{{asset('admin/js/bootstrap-select.min.js')}} "></script>
        <script src="{{asset('admin/js/defaults-fr_FR.min.js')}} "></script>
        <script src="{{asset('admin/js/chl.js')}} "></script>
        {% block javascripts %}
            <script>
                $('#delete').on('click', function (e) {
                    e.preventDefault();
                    var n = new Noty({
                        text: 'Être vous sur de vouloir effectuer cette action?',
                        layout: 'center',
                        theme: 'metroui',
                        type: 'alert',
                        modal: true,
                        buttons: [
                            Noty.button('OUI', 'btn btn-danger btn-spacing', function () {
                                n.close();
                                $('#deleteForm').submit();
                            }),

                            Noty.button('NON', 'btn btn-success btn-spacing', function () {
                                n.close();
                            })
                        ]
                    }).show();
                    $('.noty_buttons').addClass('text-center');
                });
            </script>
        {% endblock %}
    </body>
</html>