{% extends "admin/base_admin.html.twig" %}

{% block title %}
    Edit
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <header>
                    <h2>Edit</h2>
                    <div>
                        <a class="btn btn-pill btn-default u-posRelative" href="{{ path('slide_index') }}">
                            <i class="fa fa-list "></i>
                        </a>
                    </div>
                    <div>
                        {{ include('slide/_delete_form.html.twig') }}
                    </div>
                </header>
                <div class="hide id" data-id-file="{{form.file.vars.id}}"></div>

                <div class="hide apparitionG_value" data-apparitiong-value="{{form.apparitionG.vars.value}}"></div>
                <div class="hide apparitionP_value" data-apparitionp-value="{{form.apparitionP.vars.value}}"></div>
                <div class="hide apparitionG_id" data-apparitiong-id="{{form.apparitionG.vars.id}}"></div>
                <div class="hide apparitionP_id" data-apparitionp-id="{{form.apparitionP.vars.id}}"></div>

                {{ include('slide/_form.html.twig') }}

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var file = document.querySelector('.id');
            var grandValue = document.querySelector('.apparitionG_value');
            var petitValue = document.querySelector('.apparitionP_value');
            var grandId = document.querySelector('.apparitionG_id');
            var petitId = document.querySelector('.apparitionP_id');

            var id = file.dataset.idFile;
            var apparitionGValue = grandValue.dataset.apparitiongValue;
            var apparitionPValue = petitValue.dataset.apparitionpValue;
            var apparitionGId = grandId.dataset.apparitiongId;
            var apparitionPId = petitId.dataset.apparitionpId;

            $('#' + id).fileinput({
                language: 'fr',
                allowedFileExtensions: [
                    'jpg', 'png', 'gif'
                ],
                showCaption: true,
                showPreview: true,
                showRemove: true,
                showUpload: false,
                showCancel: true,
                showUploadedThumbs: true
            });
            $('.select2').select2({
                //    placeholder: 'Select an option'
            });
            $('#' + apparitionGId).val(apparitionGValue);
            $('#' + apparitionGId).trigger('change');
            $('#' + apparitionPId).val(apparitionPValue);
            $('#' + apparitionPId).trigger('change');
        });
    </script>
{% endblock %}