{% extends "admin/base_admin.html.twig" %}

{% block title %}
    Slide index
{% endblock %}
{% set side_home = side_home | merge({'home': true}) %}
{% set side_home = side_home | merge({'slide': true}) %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <header>
                    <h3>Slide | Liste</h3>
                    <div class="box-tool">
                        <a class=" mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--green mdl-color-text--white" href="{{ path('slide_new') }}">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </header>
                <div class="box-body">
                    <table id="list" class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">#</th>
                                <th class="mdl-data-table__cell--non-numeric">GrandTitre</th>
                                <th class="mdl-data-table__cell--non-numeric">PetitTitre</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for slide in slides %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">{{ loop.index }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ slide.grandTitre }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ slide.petitTitre }}</td>
                                    {% if slide.file %}
                                        <td class="text-center">
                                            <img class="img-thumbnail img-responsive" src="{{asset(slide.file.pathname)| imagine_filter('squared_thumbnail')}}" alt="">
                                        </td>
                                    {% else %}
                                        <td class="text-center">
                                            <img class="img-thumbnail img-responsive" src="{{asset('admin/img/no_image_available.jpg') | imagine_filter('squared_thumbnail')}}" alt="">
                                        </td>
                                    {% endif %}
                                    <td class="text-center">
                                        <a class=" btn-spacing mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{ path('slide_show', {'id': slide.id}) }}">
                                            <i class="material-icons">visibility</i>
                                        </a>
                                        <a class=" btn-spacing mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary" href="{{ path('slide_edit', {'id': slide.id}) }}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#list').dataTable({
                //paging: true,
                lengthChange: false,
                info: false,
                "language": {
                    "url": "{{asset('admin/js/French.json')}}"
                }
            });
        });
    </script>
{% endblock %}