{% extends "admin/base_admin.html.twig" %}

{% block title %}
    Slide
{% endblock %}

{% set apparitions = [
    {
        option: "Fondu vers vers le bas",
        value: "fadeInDown"
    }, {
        option: "Fondu vers le haut",
        value: "fadeInUp"
    }, {
        option: "Agrandir",
        value: "zoomIn"
    }, {
        option: "Rouler vers l'intérieur",
        value: "rollIn"
    }, {
        option: "Vitesse de la lumière",
        value: "lightSpeedIn"
    }, {
        option: "Glisser vers le haut",
        value: "slideInUp"
    }, {
        option: "Tourner en bas à gauche",
        value: "rotateInDownLeft"
    }, {
        option: "Tourner en haut à droite",
        value: "rotateInUpRight"
    }, {
        option: "Tourner vers l'intérieur",
        value: "rotateIn"
    }
] %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <header>
                    <h2>Détails</h2>
                    <div>
                        <a class="btn btn-pill btn-default u-posRelative" href="{{ path('slide_index') }}">
                            <i class="fa fa-list "></i>
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-pill btn-info u-posRelative" href="{{ path('slide_edit', {'id': slide.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <div>
                        {{ include('slide/_delete_form.html.twig') }}
                    </div>
                </header>
                <div class="box-body">
                    <div class="box">
                        <header>
                            <h4>
                                <strong></strong>
                            </h4>
                            <div class="box-tools">
                                <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                                <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                            </div>
                        </header>
                        <div class="box-body b-t collapse in">
                            <div class="row">
                                <div class="col-md-2">
                                    <strong>Grand Titre:</strong>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h4>
                                        <strong>
                                            {{slide.grandTitre}}
                                            <hr class="b-w-2 b-wet-asphalt">
                                        </strong>
                                    </h4>
                                </div>
                                <div class="col-md-2">
                                    <strong>Apparition:</strong>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h4>
                                        {% for app in apparitions %}
                                            {% if app.value == slide.apparitionG%}
                                                <strong>
                                                    {{app.option}}
                                                    <hr class="b-w-2 b-wet-asphalt">
                                                </strong>
                                            {% endif %}
                                        {% endfor %}
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <strong>Petit Titre:</strong>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h4>
                                        <strong>
                                            {{slide.petitTitre}}
                                            <hr class="b-w-2 b-wet-asphalt">
                                        </strong>
                                    </h4>
                                </div>
                                <div class="col-md-2">
                                    <strong>Apparition:</strong>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h4>
                                        {% for app in apparitions %}
                                            {% if app.value == slide.apparitionP%}
                                                <strong>
                                                    {{app.option}}
                                                    <hr class="b-w-2 b-wet-asphalt">
                                                </strong>
                                            {% endif %}
                                        {% endfor %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <header>
                            <h4 class="text-b">
                                <strong>Image</strong>
                            </h4>
                            <div class="box-tools">
                                <!-- <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a> -->
                                <!-- <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a> -->
                            </div>
                        </header>
                        <div class="box-body b-t collapse in">
                            {% if slide.file %}
                                <td>
                                    <div class="row" data-plugin="lightgallery" data-selector=".thumbnail" data-thumbnail="true">
                                        <div class="col-md-offset-4 col-md-4">
                                            <div class="thumbnail" data-src="{{asset(slide.file.pathname)}}">
                                                <img src="{{asset(slide.file.pathname)}}" alt="" data-toggle="tooltip">
                                                <div class="caption text-center">
                                                    <span>
                                                        <strong>Cliquer pour agrandir</strong>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div class="row" data-plugin="lightgallery" data-selector=".thumbnail" data-thumbnail="true">
                                        <div class="col-md-offset-4 col-md-4">
                                            <div class="thumbnail" data-src="{{asset('admin/img/no_image_available.jpg')}}">
                                                <img src="{{asset('admin/img/no_image_available.jpg')}}" alt="" data-toggle="tooltip">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{parent()}}
{% endblock %}