{% extends "admin/base_admin.html.twig"%}

{% block title %}
    Slide
{% endblock %}
{% set side_home = side_home | merge({'home': true}) %}
{% set side_home = side_home | merge({'slide': true}) %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <header>
                    <h3>Slide | Détails</h3>
                    <div>
                        <a class=" btn-spacing mdl-button mdl-js-button mdl-button--icon mdl-button--fab  mdl-js-ripple-effect" href="{{ path('slide_index') }}">
                            <i class="material-icons">list</i>
                        </a>
                        <a class=" btn-spacing mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary" href="{{ path('slide_edit', {'id': slide.id}) }}">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                    <div>
                        {{ include('slide/_delete_form.html.twig') }}
                    </div>
                </header>
                <div class="box-body">
                    <div class="box">
                        <header>
                            <h4>
                                <strong>Titres</strong>
                            </h4>
                            <div class="box-tools">
                                <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                                <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                            </div>
                        </header>
                        <div class="box-body b-t collapse in">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <strong>Grand Titre:</strong>
                                    <br/>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield">
                                        <input class="mdl-textfield__input" disabled="disabled" type="text" value="{{slide.grandTitre}}"/>
                                        <label class="mdl-textfield__label">text</label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    {% for app in apparitions %}
                                        {% if app.value == slide.apparitionG%}
                                            <strong>Apparition:</strong>
                                            <br/>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield">
                                                <input class="mdl-textfield__input" disabled="disabled" type="text" value="{{app.option}}" />
                                                <label class="mdl-textfield__label" >text</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <strong>Petit Titre:</strong>
                                    <br/>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield">
                                        <input class="mdl-textfield__input" disabled="disabled" type="text" value="{{slide.petitTitre}}"/>
                                        <label class="mdl-textfield__label">text</label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    {% for app in apparitions %}
                                        {% if app.value == slide.apparitionP%}
                                            <strong>Apparition:</strong>
                                            <br/>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield">
                                                <input class="mdl-textfield__input" disabled="disabled" type="text" value="{{app.option}}"/>
                                                <label class="mdl-textfield__label" id="pp">text</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <header>
                            <h4 class="text-b">
                                <strong>Image</strong>
                            </h4>
                            <div class="box-tools">
                                <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                                <!-- <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a> -->
                            </div>
                        </header>
                        <div class="box-body b-t collapse in">
                            {% if slide.file %}
                                <td>
                                    <div class="row" data-plugin="lightgallery" data-selector=".thumbnail" data-thumbnail="true">
                                        <div class="col-md-offset-4 col-md-4">
                                            <div class="thumbnail" data-src="{{asset(slide.file.pathname)}}">
                                                <img src="{{asset(slide.file.pathname)}}" alt="" data-toggle="tooltip">
                                                <div class="caption text-center">
                                                    <span>
                                                        <strong>Cliquer pour agrandir</strong>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div class="row" data-plugin="lightgallery" data-selector=".thumbnail" data-thumbnail="true">
                                        <div class="col-md-offset-4 col-md-4">
                                            <div class="thumbnail" data-src="{{asset('admin/img/no_image_available.jpg')}}">
                                                <img src="{{asset('admin/img/no_image_available.jpg')}}" alt="" data-toggle="tooltip">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}